<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<div class="container" style="padding-top: 5%;">
  <div class="w3-col" style="width: 100%">
    <div style="padding: 0px 25% 0px 25%;"><h2 class="w3-center small-border-bottom">CONVERSATION</h2><br></div>
  </div>
 <div class="message-content" style="margin-top: 10%;">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class="item">
          <div class="content message-box">
            <div class="header"><strong><%= user.email %></strong> <%= message.message_time %></div>
            <div class="list">
              <div class="item">
                <i class="right triangle icon"></i>
                <%= message.body %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div><br>

  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="field w3-col" style="width: 92%;">
      <%= f.text_area :body, class: "form-control", placeholder: 'reply' %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div class="w3-col" style="width: 8%;">
      <%= f.submit "Send", class: "w3-btn w3-round accept-btn", style: 'padding: 10px 20px 25px 20px;' %>
    </div>

  <% end %>
</div>