<div class="container" style="padding-top: 5%;">
  <div style="padding: 0 15% 0 15%;">
    <h2 class="w3-center page-title small-border-bottom"><%= current_user.email %>'s Dashboard</h2><br>
  </div>
   <%= link_to 'Update Availability', new_availability_path(@availability), class: 'w3-button w3-round accept-btn' %>
   <button onclick="myFunction()" id="Availability-btn" class="w3-button w3-round accept-btn">Schedule</button>
   <button onclick="myFunction()" id="Schedule-btn" class="w3-button w3-round accept-btn" style="display: none;">Availability</button>
   <div id="Menu1" class="w3-animate-zoom">  <%= week_calendar(attribute: :start_time, end_attribute: :end_time, events: @availabilities, number_of_weeks: 2) do |date, availabilities| %>
    <%= date.to_formatted_s(:short) %>
    <% availabilities.each do |availability| %>
      <% if availability.status == 'Confirmed' or availability.status == 'Confirmed Swap' %>     
       <%= link_to availability do %>
        <div id="confirmed-tag"></div>
        <div class="confirmed">
          <%= availability.start_time.strftime("%l:%M %p") %> - <%= availability.end_time.strftime("%l:%M %p") %>
        </div>
        <% end %>
         <% elsif availability.status == 'Pending' or availability.status == 'Pending Swap' %>   
          <%= link_to availability do %>
            <div id="pending-tag"></div>
            <div class="pending">
              <%= availability.start_time.strftime("%l:%M %p") %> - <%= availability.end_time.strftime("%l:%M %p") %>
            </div>
          <% end %>
         <% end %>
       <% end %>
     <% end %>
   </div>
   <div id="Menu2" class="w3-animate-zoom">  <%= week_calendar(attribute: :start_time, end_attribute: :end_time, events: @availabilities, number_of_weeks: 2) do |date, availabilities| %>
    <%= date.to_formatted_s(:short) %>
    <% availabilities.each do |availability| %>
         <% if availability.status == 'Available' %>   
          <%= link_to availability do %>
            <div class="available">
              AVAILABLE<br>
              <%= availability.start_time.strftime("%l:%M %p") %> - <%= availability.end_time.strftime("%l:%M %p") %>
            </div>
          <% end %>
         <% end %>
       <% end %>
     <% end %>
   </div>
</div>
<script>
function myFunction() {
  var menu1 = document.getElementById("Menu1");
  var menu2 = document.getElementById("Menu2");
  var btn1 = document.getElementById("Schedule-btn");
  var btn2 = document.getElementById("Availability-btn");

  if (menu1.style.display === "none") {
    menu1.style.display = "block";
    menu2.style.display = "none";
    btn1.style.display = "none";
    btn2.style.display = "inline";
  } else {
    menu1.style.display = "none";
    menu2.style.display = "block";
    btn1.style.display = "inline";
    btn2.style.display = "none";
  }
}
</script>

