<div class="modal fade" id="logInModal">
      <div class="modal-dialog">
        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Log In</h5>
                <button type="button" class="close" data-dismiss="modal">
                      <span>&times;</span>
                </button>
              </div>
              <div class="modal-body log-form">    
                <div>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "login-form") do |f| %>
                        <div class="wrap">
                              <div class="field">
                                <%= f.email_field :email, placeholder: "Email", class: "login-form" %>
                              </div>
                             <div class="field">
                                <%= f.password_field :password, autocomplete: "on", placeholder: "Password", class: "login-form" %>
                              </div><br>
                              <div>
                                  <% if devise_mapping.rememberable? -%>
                                    <div class="field">
                                          <%= f.check_box :remember_me %>
                                          <%= f.label :remember_me %>
                                    </div>
                                  <% end -%>     
                              </div>

                            <div>
                              <%= f.submit "Log in", class: 'btn btn-primary modal-footer w3' %>
                            </div> 

                            <div>
                                <% render "devise/shared/links" %>
                            </div>
                            
                        </div>
                      <% end %>
                </div>
              </div>
              <div class="modal-footer w3">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
        </div>
    </div>
</div>