<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <%= form_with(model: availability, local: true) do |form| %>
  <% if availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
      <% availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="w3-card-4" style="width: 90%; text-align: left;">
        <header class="w3-container details-heading">
          <% if current_user.try(:admin) %> <!-- this is for manager to assign the availability to a user-->
                <p class="white">
                  Current Assigned: <%= @availability.user.email %>
            </p>
            <p class="white">Requested Employee: <%= @availability.title %></p>
          <% else %>
                <%= form.hidden_field :title, value: @availability.user.email, style: "display: hidden" %> <!-- this is for user to automatically be assigned to an availbaility.-->
          <% end %>      
        </header>
      <div class="w3-container" style="padding-top: 3%;">
        <div class="field white">
          <%= form.label :start_time %>
          <%= form.datetime_select :start_time %>
        </div>

        <div class="field white">
          <%= form.label :end_time %>
          <%= form.datetime_select :end_time %>
        </div>
      </div>
        <footer class="w3-container" style="padding-bottom: 10px;">
        </footer>
      </div>
<br>


  <div class="actions">
    <%= form.submit 'Submit', :class => 'w3-btn w3-round accept-btn' %>
  </div>
<% end %>
<script type="text/javascript">
  $('.datetimepicker').datetimepicker({
    format: "YYYY-MM-DD"
  });
  </script>