<div class="container">
  <%= form_with(model: availability, local: true) do |form| %>
  <% if availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
      <% availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if current_user.try(:admin) %> <!-- this is for manager to assign the availability to a user-->
      <%= form.select :title, User.pluck(:email) %>
<% else %>
      <%= form.hidden_field :title, value: @availability.user.email %> <!-- this is for user to automatically be assigned to an availbaility.-->


<% end %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>
<% if current_user.try(:admin) %>  
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['Confirmed', 'Pending', 'Not Assigned'] %>

  </div>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
<script type="text/javascript">
  $('.datetimepicker').datetimepicker({
    format: "YYYY-MM-DD"
  });
  </script>