<html>
<body style="height: auto;">
<% if user_signed_in? %>
<p id="notice"></p>
<div class="container" style="padding-top: 5%;">
  <div class="w3-row">
  <!--
      <div class="w3-col w3-left" style="width: 40%; padding: 0 8% 0 0%; margin-top: 15%;">
        <div class="w3-card-4" style="height: 15%;">
          <header class="w3-container legend-card">
            <h3 class="w3-center">Legend</h3>
          </header>
          <div class="w3-container" style="background-color: #F8F8F8;">
            <div class="row">
              <div class="w3-col s3 w3-green w3-panel w3-card"><p>w3-card</p></div>
              <div class="w3-col s3 w3-dark-grey w3-panel w3-card"><p>w3-card</p></div>
            </div>
          </div>
        </div><br>
        <div class="w3-card-4" style="height: 15%;">
          <header class="w3-container notification-card">
            <h3 class="w3-center">Notifications</h3>
          </header>
          <div class="container" style="background-color: #F8F8F8;">
            <div style="background-color: #DEDEDE; height: 100%; margin: 5% 0 5% 0;">
              <p class="w3-right" style="margin-right: 5px;">x</p><br>
              <p style="margin-left: 5px;">Coworker has requested their shift be taken on Oct. 2nd at 5:00pm. Would you like to accept?</p>
              <div class="w3-center">
                <button class="w3-button w3-round-large accept-btn" style="width: 40%;">Accept</button>
                <button class="w3-round-large decline-btn" style="width: 40%;">Decline</button>
                <p></p>
              </div>
            </div>
          </div>
        </div>
    </div>
    -->
    <div class="w3-col" style="width: 100%">
      <div style="padding: 0px 25% 0px 25%;"><h2 class="w3-center small-border-bottom">TECM LAB SHIFTS</h2><br></div>
<%= month_calendar(attribute: :start_time, end_attribute: :end_time, events: @availabilities) do |date, availabilities| %>
  <%= date.to_formatted_s(:short) %>
  <% availabilities.each do |availability| %>
    <% if availability.status == 'Confirmed' or availability.status == 'Confirmed Swap' %>     
     <%= link_to availability do %>
      <div id="confirmed-tag"></div>
      <div class="confirmed">
        <%= availability.title %><br>
        <%= availability.start_time.strftime("%l:%M %p") %> - <%= availability.end_time.strftime("%l:%M %p") %>
      </div>
      <% end %>
       <% elsif availability.status == 'Pending' %>   
        <%= link_to availability do %>
      <div id="pending-tag"></div>
          <div class="pending">
            <%= availability.title %><br>
            <%= availability.start_time.strftime("%l:%M %p") %> - <%= availability.end_time.strftime("%l:%M %p") %>
          </div>
       <% end %>
      <% end %>  
<% end %>
<% end %>
</div>
<% end %>
</body>
</html>
<script>

function move() {
    var elem = document.getElementById("hours-meter"); 
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
        if (width >= 100) {
            clearInterval(id);
        } else {
            width++; 
            elem.style.width = width + '%'; 
        }
    }
}
  
$('#calendar').fullCalendar({ 
   events: '/availabilities.json'
  
});
</script>