<html>
<body>

<div class="w3-container" style="margin-top: 5%;">
    <div class="w3-col s6 w3-left">
      <div class="w3-center">
        <h3 class="small-border-bottom" style="text-transform: uppercase;"><%= @availability.user.email %>'s Shift Details</h3><br>
      </div>
      <div class="w3-card-4 w3-center" style="width: 90%; text-align: left;">
        <header class="w3-container details-heading">
         <h4>Shift Status: <%= @availability.status %></h4>       
        </header>
      <div class="w3-container">
      <p>
        <strong>Start time:</strong>
        <span style="color: #fff;"><%= @availability.start_time.strftime("%B %d, %Y, %l:%M %p") %></span>
      </p>
      <p>
        <strong>End time:</strong>
        <span style="color: #fff;"><%= @availability.end_time.strftime("%B %d, %Y, %l:%M %p") %></span>
      </p>
      </div>
        <footer class="w3-container" style="padding-bottom: 10px;">
            <% unless current_user.try(:admin) %>
                <%= link_to 'Submit', new_availability_request_path(@availability), class: 'w3-button w3-round accept-btn' %>
            <% else %>
           <%= link_to 'Submit', edit_availability_path(@availability), class: 'w3-button w3-round accept-btn' %>

            <% end %> 
        </footer>
      </div>
     </div><!--/col-md-7-->
  
   <div class="w3-col s6 w3-right">
      <div class="w3-center">
        <h3 class="small-border-bottom" style="text-transform: uppercase;"><%= @availability.user.email %>'s Active Requests</h3><br>
      </div><br>
     <% if @request.blank? %>
          <% @requests.each do |request| %>
          <table cellpadding="0" cellspacing="0" class="pending-table noborders table" style="margin: 0; padding: 0;">
            <thead>
              <th>Requested Person</th>
              <th>Shift Swap Request Details</th>
              <th>Person who is taking your shift</th>
              <th>Status</th>
            </thead>
            <tbody>
              <tr class="small-border-bottom">
              <td>
               <%= request.user.email %>
              </td>
                <td><%= request.comment %></td>
               <% if @availability.status == 'Confirmed Swap' %>
                <td><%= @availability.title %></td>
                <td><%= @availability.status %></td>


                <% else %>
                <td>Pending Manager Approval</td>
                <td>Pending Manager Approval</td>


                <% end %>
                
              </tr>
            </tbody>
          </table>
          
          <% end %>
        <% else %>
     <h1>
       You do not have any active shift requests. YOu have to work!
     </h1>
    <% end %>
<br>
   </div>
</div><!--/container-->
</body>
</html>