<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @availability.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @availability.end_time %>
</p>

<p>
  <strong>Assigned:</strong>
  <%= @availability.assigned %>
</p>

<h1>
  Swap Request Notes:
</h1>
<% @requests.each do |request| %>

<h5>
  <%= request.comment %>
<% end %>
</h5>

<br>
<%= link_to 'Swap this Shift!', new_availability_request_path(@availability) %><br>
<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
