<!DOCTYPE html>
<html>
  <head>
    <title>Shwap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/proza-libre" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Sarina" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/proza-libre" type="text/css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
        <%= render 'layouts/navbar' %>


    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <ul>
            <li>
              <%= value %>
            </li>
          </ul>
        </div>
    <% end %>
      <%= yield %>
    <%= render partial: 'devise/registrations/new' %>
    <%= render partial: 'devise/sessions/new' %>
  </body>
</html>
