<!DOCTYPE html>
<html>
  <head>
    <title>Shwap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
           <li><%= link_to "My Schedule", pages_dashboard_path %></li>

    <% else %>
      <div class="index-body">
        <ul>
         <a href="#" class="w3-bar-item w3-button " style="font-size: 36px;">Shwap</a>
         <a href="#" class="w3-bar-item w3-button">Link 1</a>
         <a href="#" class="w3-bar-item w3-button">Link 2</a>
         <a href="#" class="w3-bar-item w3-button">Link 3</a>
         <%= link_to "Login", new_user_session_path, :class => "w3-bar-item w3-button" %>
         <%= link_to "Get Started", new_user_registration_path, :class => "w3-bar-item w3-button sign-up" %>
        </ul>
    <% end %>
          
      </index-body>
 
    <%= yield %>
  </body>
</html>
