<!DOCTYPE html>
<html>
  <head>
    <title>Shwap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/proza-libre" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Sarina" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= render partial: 'devise/registrations/new' %>
    <%= render partial: 'devise/sessions/new' %>
  </body>
</html>
